<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hexonxons.hive"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.HiveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".app.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.SetupActivity" />
        <activity android:name=".app.MainActivity" />

        <service
            android:name=".app.SetupService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".app.BotService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>
